.static-width{
    width: 300px;
    height: 300px;
    background: url(https://vignette.wikia.nocookie.net/twoja-twarz-brzmi-znajomo/images/f/f4/Slashstudiosept2018_638.jpg/revision/latest?cb=20190501052556&path-prefix=pl)top center no-repeat;
    background-color: #606060;
    background-size: 200px;
}

