.box{
    padding: 20px;
    margin: 20px;
    float: left;
}

.dashed{
    border: 5px blue dashed
}

.dotted{
    border: 5px blue dotted
}

.double{
    border: 5px blue double
}

.groove{
    border: 5px blue groove
}

.insert{
    border: 5px blue inset
}

.outset{
    border: 5px blue outset
}

.ridge{
    border: 5px blue ridge
}

.solid{
    border: 5px blue solid
}